$main-background: #131613;
$off-background: #171a17;
$text-color: #eefff4;
$text-off-color: #30332e;

$hover-color: #ffffff;
$link-list: "#linkedin" "#github" "#px" "#blog" "#contact";

$debug: false;
@if $debug{
    $debug-color : #3aa830;
}

@mixin flex-display() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
 
@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
}
 
@mixin flex-order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
}

@mixin flex-direction($val) {
    -webkit-flex-direction: $val;
    -moz-flex-direction: $val;
    -ms-flex-direction: $val;
    flex-direction: $val;
}

@mixin flex-justify-content($val) {
    -webkit-justify-content: $val;
    -moz-justify-content: $val;
    -ms-justify-content: $val;
    justify-content: $val;
}

@mixin flex-align-items($val) {
    -webkit-align-items: $val;
    -moz-align-items: $val;
    -ms-align-items: $val;
    align-items: $val;
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), url("http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2") format("woff2"), url("http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff") format("woff");
}

@import "font-awesome";

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: sans-serif;
    color: $text-color;
}

h1 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    font-size: 4em;
    margin: 5px;
}

.fa {
    padding: 5px;
}

a,
a:hover,
a:visited,
a:link,
a:active {
    color: $text-color;
    text-decoration: none;
}


body {
    margin: 0;
    min-height: 100%;
    height: 100vh;
    background: $main-background;
    text-align: center;
    width: 100vw;
    min-width: 100%;
    @include flex-display();
    @include flex-direction(column);
}

header,
footer {
    height: 6%;
    background: $off-background;
    color: $text-off-color;
    @include flex(none);
}

header {
    height: 10%;
}

footer {
    @include flex-align-items(flex-end);
    @include flex-justify-content(flex-end);

    a,
    a:hover,
    a:visited,
    a:link,
    a:active {
        color: $text-off-color;
    }
}

.copyright {
    margin-top: .5%;
    font-size: 1.3em;
}

.container {
    @include flex-display();
    @include flex(1);
}

main {
    margin: 1em;
    @include flex-display();
    @include flex(1 0);
    @include flex-align-items(flex-start);
    @include flex-justify-content(center);
    font-size: 1.5em;
    
    @if $debug {
         border-radius: 5px;
         background: $debug-color;
    }
}

nav,
aside {
    @include flex-display();
    @include flex(0 0 20vw);
    margin: 1em;
    
    @if $debug {
        border-radius: 5px;
        background: $debug-color;
    }
}

.content {
    margin-top: 5%;
    
    img {
        max-width: 100%;
    }
}

.info span {
    display: none;
}

@each $link in $link-list{
    #{$link}:hover {
        color: $hover-color;
    }
    #{$link}:hover ~ .info #{$link}-info {
        display: block;
    }
}

@media (max-width: 768px) {
    .container {
        @include flex-direction(column);
        @include flex(1);
    }
    main {
        @include flex(1);
    }
    nav,
    aside {
        @include flex(0 0 5em);
    }
}

@media (min-height: 550px) {
    .copyright {
        margin-top: 1.5%;
    }
}
