<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="mlevar.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
   
    <title>{% block title %}mlevar.com{% endblock %}</title>
    
</head>

<body>
<header>
    {% block header %}{% endblock %}
</header>

<div class="container">

<nav>
    {% block nav %}{% endblock %}
</nav>

<main>
    {% block main %}{% endblock %}
</main>

<aside>
    {% block aside %}{% endblock %}
</aside>

</div>

<footer>
    {% block footer %}
    <div class="copyright">
        Copyright © {{ now|date('Y') }} <a href="mailto:{{ contactEmail }}">mlevar.com</a>
    </div>
    {% endblock %}
</footer>

</body>
    
</html>